.todos {
  max-width: 80rem;
  margin: 0 auto;
}

.todos form {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todos form input {
  height: 2rem;
  font-size: 18px;
  outline: none;
}

.todos form .todo-submit {
  width: 150px;
  height: 2rem;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(33, 255, 51);
  border: 2px solid rgb(1, 181, 16);
  color: #fff;
  margin: 10px auto;
  cursor: pointer;
}

.todos .todo-list {
  width: 100%;
  margin-top: 20px;
}

.todos .todo-list .todo {
  width: 90%;
  height: 2.5rem;
  margin: 2px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(189, 189, 189, 0.824);
}

.todos .todo-list .todo .content {
  font-size: 18px;
}

.todos .todo-list .todo div .delete {
  margin-right: 5px;
  background-color: red;
  border: 2px solid rgb(175, 0, 0);
  color: #fff;
  font-weight: 900;
  padding: 5px;
  cursor: pointer;
}

.todos .todo-list .todo div .delete:hover {
  background-color: rgb(238, 98, 98);
}

.todos .todo-list .todo div .completed {
  background-color: rgb(37, 158, 0);
  border: 2px solid green;
  color: #fff;
  font-weight: 900;
  padding: 5px;
  cursor: pointer;
}

.todos .todo-list .todo div .completed:hover {
  background-color: rgb(2, 230, 2);
}

.todos .todo-list .done .content {
  text-decoration: line-through;
}
